# {{ ansible_managed }}

{% set label = item.split('.')[0] %}
[uwsgi]
chdir = {{ container_app_root }}
module = {{ uwsgi_module }}
socket = /usr/local/var/run/{{ label }}.sock
master = true
vacuum = true
limit-as = 1024
max-request = 100
evil-reload-on-as = 512
evil-reload-on-rss = 384
workers = 5
die-on-term = true

req-logger = file:/var/log/uwsgi/access.log
logger = file:/var/log/uwsgi/error.log
