# Install letsencrypt SSL cert
# vars:
#   - certbot_deps_pkgs?
#   - certbot_flags?
#   - certbot_repos?
#   - docker_compose?
#   - host_app_root?
#   - hostnames
#   - letsencrypt_cron_hours?
#   - letsencrypt_cron_minute?
#   - letsencrypt_email
#   - letsencrypt_root?
#   - web_service_name?
---
- name: install package dependencies
  package:
    name: "{{ certbot_deps_pkgs }}"
    state: latest

- name: add certbot repos
  apt_repository:
    repo: "{{ item }}"
  loop: "{{ certbot_repos }}"

- name: install certbot CLI
  package:
    name: certbot
    state: latest

- name: create the configuration file
  template:
    src: cli.ini.j2
    dest: "{{ letsencrypt_root }}/cli.ini"
  loop: "{{ hostnames }}"

- name: get the certificates
  command: letsencrypt certonly {{ certbot_flags }}
  args:
    creates: "{{ letsencrypt_root }}/live/{{ item }}"
  loop: "{{ hostnames }}"

- name: install autorenew cron job
  cron:
    name: letsencrypt renew
    job: >
      certbot renew --agree-tos >/var/tmp/letsencrypt.txt 2>&1
      && cd {{ host_app_root }}
      && {{ docker_compose }} restart {{ web_service_name }} >>/var/tmp/letsencrypt.txt 2>&1
    hour: "{{ letsencrypt_cron_hours }}"
    minute: "{{ letsencrypt_cron_minute }}"
