{% set label = item.split('.')[0] %}
upstream {{ label }} {
    server unix:///usr/local/var/run/{{ label }}.sock;
}

server {
  location /static {
    alias /staticfiles;
  }

  # Finally, send all non-media requests to the Django server.
  location / {
    uwsgi_pass  {{ label }};
    include     /etc/uwsgi/uwsgi_params;
  }

  {% include 'shared.j2' %}
}
