# Install docker-engine and docker-compose
# Add users to docker group
# vars:
#   - docker_apt_key_id
#   - docker_apt_key_url
#   - docker_repo
#   - docker_tools_deps_pkgs: apt packages that Docker needs
---
- name: install package dependencies
  package:
    name: "{{ docker_tools_deps_pkgs }}"
    state: latest

- name: logical volume setup
  command: dmsetup mknodes

- name: add docker apt key
  apt_key:
    url: "{{ docker_apt_key_url }}"
    id: "{{ docker_apt_key_id }}"

- name: add docker repo
  apt_repository:
    repo: "{{ docker_repo }}"

- name: install docker-ce
  package:
    name: docker-ce
    state: latest

- include_tasks: config.yml

- name: start docker service
  service:
    name: docker
    enabled: yes
    state: started

- name: install docker-compose
  pip:
    name: docker-compose
    state: latest
